<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bing.stockhelper">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:theme="@style/AppTheme">
        <activity android:name=".collection.detail.article.CollectArticleActivity"/>
        <activity android:name=".collection.detail.image.CollectImageActivity"/>
        <activity android:name=".tag.TagListActivity"
                  android:theme="@style/TranslucentAppTheme"/>
        <activity android:name=".collection.list.CollectArticlesActivity"
                  android:theme="@style/TranslucentAppTheme"/>
        <activity android:name=".stock.list.StockDisplayActivity"
                  android:theme="@style/TranslucentAppTheme"/>
        <activity android:name=".stock.list.StockListActivity"
                  android:theme="@style/TranslucentAppTheme"/>
        <activity android:name=".stock.select.StockSelectActivity"
                  android:theme="@style/TranslucentAppTheme"/>
        <activity android:name=".stock.edit.StockEditActivity"/>
        <activity android:name=".huawei.HuaweiActivity"
                  android:theme="@style/TranslucentAppTheme"/>
        <activity
                android:name=".summary.SummaryEditActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".holders.edit.HoldEditActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".follow.FollowEditActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".holders.display.HoldsActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".main.MainActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".search.SearchActivity"
                android:screenOrientation="portrait"
                android:theme="@style/TranslucentAppTheme"/>

        <provider
                android:name=".utils.StockFileProvider"
                android:authorities="com.bing.stockHelper.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths_stock"/>
        </provider>
    </application>

</manifest>